# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. C++
4. C

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpys
3. Mstplotlib



|  Data Science Tools |
| -------------|
| Rstudio | 
| Jupyter |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [22]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Amy